[package]
name = "git-tool"
version = "0.2.0"
authors = ["Benjamin Pannell <benjamin@pannell.dev>", "Aideen Fay <me@aideen.dev>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = "0.1"
base64 = "0.13"
chrono = "0.4"
clap = "3.0.0-beta.2"
futures = "0.3.8"
gtmpl = "0.5"
http = "0.2"
hyper = "0.13"
hyper-tls = "0.4"
itertools = "0.10"
keyring = "0.10"
log = "0.4"
nix = "0.19.1"
rpassword = "5.0"
semver = "0.11"
sentry = { version = "0.21", features = ["log","test"] }
serde = { version = "1.0", features = ["derive", "rc"] }
serde_json = "1.0"
serde_yaml = "0.8"
shell-words = "1.0"
tempfile = "3.1"
tokio = { version = "0.2", features = ["full"] }
yup-hyper-mock = "4.0"

[profile.release]
debug = true