name: Changelog

on:
  push:
    branches:
      - main
  pull_request:
    types: [ opened, reopened, synchronize ]

jobs:
  update:
    name: Prepare
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v6.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
